/* @media screen and (max-width: 481px){ */

body {
   font-family: arial;
   text-align: justify;


}
    #container {
    display: grid;
    height: 100vh;
    width: 95vw;
    grid-row-gap: 5px;
    grid-template-areas: 
    'hd'
    'nav'
    'as'
    'ft'

}

.p1 {
    font-size: x-large;
    text-align: center;
}

header {
    grid-area: hd;
    text-align: center;
    height: 100px; 
    background-color: cadetblue;
}





#logga {
    height: 70px;
    width: 70px;
    margin-right: 70vw;
    margin-top: 10px;
}

#ingress {
    font-weight: bold;

}

.underrubrik {
    font-weight: bold;
}

#bild {
    height: auto;
    width: 100%;

  }

nav {
    grid-area: nav;
}




aside {
    grid-area: as;
    background-color: blue;

}



img {
    width:100%; 
}


footer {
    grid-area: ft;
    background-color: rebeccapurple;
   
}

#lanktext {
    font-size: small;
    font-weight: bold;
    text-align: center;
    color: darkolivegreen;

}
/* 
} */